<div id="register">
    <div id="registerPrincipal" *ngIf="registerPrincipalVar">
        <div class="center inlineblock contentButton">
            <div class="center inlineblock" style="margin-top: 20vh;">
                <div class="left buttonApp prin" (click)="registerUserButton($event)">
                    <a class="center">
                        <div class="textButtonApp">
                            Registrar Usuario
                        </div>
                        <i class="fas fa-user"></i>
                    </a>                
                </div>
                <div class="left buttonApp prin" (click)="registerWorkShopButton($event)">
                    <a class="center">
                        <div class="textButtonApp">
                            Registrar Taller
                        </div>
                        <i class="fas fa-wrench"></i>
                    </a>                
                </div>
            </div>
            <div class="col-twelve fixedBottom">
                <button class="center" mat-raised-button color="accent" routerLink="/login">
                    <i class="fas fa-undo-alt left"></i>
                    <div class="textButtonApp left">
                        Volver al login
                    </div>                    
                </button>                
            </div>
        
        </div>
    </div>
    <div id="registerUser" *ngIf="registerUserVar">
 
        <mat-card class="center inlineblock"> 
            <div class="inlineblock">
                    <div class="inlineblock">
                        <i class="fas fa-car iconTittle"></i>                
                    </div>
                <mat-card-title>
                    Registrar usuario
                </mat-card-title>
            </div>
            <form name="formRegister" (ngSubmit)="formRegister.form.valid && onSubmit()" #formRegister="ngForm" novalidate>
                <div>                
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" name="emailRegister" [(ngModel)]="UserRegister.email" #emailRegister="ngModel" [ngClass]="{ 'is-invalid': formRegister.submitted && emailRegister.invalid }" required email >
                        <mat-error *ngIf="emailRegister.hasError('email') && !emailRegister.hasError('required')">
                            Por favor ingrese un Email valido
                        </mat-error>
                        <mat-error *ngIf="emailRegister.hasError('required')">
                            Email es <strong>obligatorio</strong>
                        </mat-error>                    
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Nombre de usuario" name="nameUserRegister" [(ngModel)]="UserRegister.name" #nameUserRegister="ngModel" [ngClass]="{ 'is-invalid': formRegister.submitted && nameUserRegister.invalid }" required>
                        <mat-error *ngIf="nameUserRegister.hasError('required')">
                            Nombre de Usuario es <strong>obligatorio</strong>
                        </mat-error>                    
                    </mat-form-field>
                    <mat-form-field>                    
                        <input (keyup)="onKey($event)" type="password" matInput placeholder="Password" name="passwordRegister" [(ngModel)]="UserRegister.password" #passwordRegister="ngModel" [ngClass]="{ 'is-invalid': formRegister.submitted && passwordRegister.invalid }" required minlength="6">                    
                        <mat-error *ngIf="passwordRegister.hasError('minlength') && !passwordRegister.hasError('required')">
                                Por favor ingrese un Password valido
                        </mat-error>
                        <mat-error *ngIf=" passwordRegister.hasError('required')">
                                Password es <strong>obligatorio</strong>
                        </mat-error>                        
                    </mat-form-field>                
                    <mat-form-field>                                            
                        <input (keyup)="onKey($event)" type="password" matInput placeholder="Confirmar Password" name="confirmPasswordRegister" [(ngModel)]="confirmPassword" #confirmPasswordRegister="ngModel" [ngClass]="{ 'is-invalid': ((formRegister.submitted && confirmPasswordRegister.invalid) || confirmPassErrorEquals)}" required minlength="6">                                            
                        <mat-error *ngIf="confirmPasswordRegister.hasError('minlength') && !confirmPasswordRegister.hasError('required')">
                            Por favor ingrese un Password valido
                        </mat-error>
                        <mat-error *ngIf="confirmPasswordRegister.hasError('required')">
                            Confirmar Password es <strong>obligatorio</strong>
                        </mat-error>                                       
                    </mat-form-field>                
                    <span class="matErrorSim" *ngIf="confirmPassErrorEquals">
                        Los campos "Password" y "confirmar password" Son diferentes
                    </span>
                </div>
                <div class="inlineblock centrar" style="margin-top: 10px">
                    <div class="left">                    
                        <button class="registerButton" type="submit" [disabled]="
                                confirmPasswordRegister.hasError('minlength') || 
                                confirmPasswordRegister.hasError('required') ||
                                nameUserRegister.hasError('required') ||
                                passwordRegister.hasError('minlength') || 
                                passwordRegister.hasError('required') ||
                                emailRegister.hasError('email') ||
                                emailRegister.hasError('required') ||
                                confirmPassErrorEquals" 
                            mat-raised-button color="primary">
                            Registrarse
                        </button>
                    </div>
                    <div class="left" style="margin-left: 5px">
                        <button (click)="cancelRegisterUser($event)" mat-raised-button>cancelar</button>
                    </div>
                </div>
            </form>
        </mat-card>
    
    </div>
    <div id="registerWorkShop"  *ngIf="registerWorkShopVar">
 
        <mat-card class="center inlineblock"> 
            <div class="inlineblock">
                    <div class="inlineblock">
                        <i class="fas fa-car iconTittle"></i>                
                    </div>
                <mat-card-title>
                   Registrar taller
                </mat-card-title>
            </div>
            <form name="formRegister" (ngSubmit)="formRegister.form.valid && onSubmit()" #formRegister="ngForm" novalidate>
                <div>                
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" name="emailRegister" [(ngModel)]="UserRegister.email" #emailRegister="ngModel" [ngClass]="{ 'is-invalid': formRegister.submitted && emailRegister.invalid }" required email >
                        <mat-error *ngIf="emailRegister.hasError('email') && !emailRegister.hasError('required')">
                            Por favor ingrese un Email valido
                        </mat-error>
                        <mat-error *ngIf="emailRegister.hasError('required')">
                            Email es <strong>obligatorio</strong>
                        </mat-error>                    
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Nombre de usuario" name="nameUserRegister" [(ngModel)]="UserRegister.name" #nameUserRegister="ngModel" [ngClass]="{ 'is-invalid': formRegister.submitted && nameUserRegister.invalid }" required>
                        <mat-error *ngIf="nameUserRegister.hasError('required')">
                            Nombre de Usuario es <strong>obligatorio</strong>
                        </mat-error>                    
                    </mat-form-field>
                    <mat-form-field>                    
                        <input (keyup)="onKey($event)" type="password" matInput placeholder="Password" name="passwordRegister" [(ngModel)]="UserRegister.password" #passwordRegister="ngModel" [ngClass]="{ 'is-invalid': formRegister.submitted && passwordRegister.invalid }" required minlength="6">                    
                        <mat-error *ngIf="passwordRegister.hasError('minlength') && !passwordRegister.hasError('required')">
                                Por favor ingrese un Password valido
                        </mat-error>
                        <mat-error *ngIf=" passwordRegister.hasError('required')">
                                Password es <strong>obligatorio</strong>
                        </mat-error>                        
                    </mat-form-field>                
                    <mat-form-field>                                            
                        <input (keyup)="onKey($event)" type="password" matInput placeholder="Confirmar Password" name="confirmPasswordRegister" [(ngModel)]="confirmPassword" #confirmPasswordRegister="ngModel" [ngClass]="{ 'is-invalid': ((formRegister.submitted && confirmPasswordRegister.invalid) || confirmPassErrorEquals)}" required minlength="6">                                            
                        <mat-error *ngIf="confirmPasswordRegister.hasError('minlength') && !confirmPasswordRegister.hasError('required')">
                            Por favor ingrese un Password valido
                        </mat-error>
                        <mat-error *ngIf="confirmPasswordRegister.hasError('required')">
                            Confirmar Password es <strong>obligatorio</strong>
                        </mat-error>                                       
                    </mat-form-field>                
                    <span class="matErrorSim" *ngIf="confirmPassErrorEquals">
                        Los campos "Password" y "confirmar password" Son diferentes
                    </span>
                </div>
                <div class="inlineblock centrar" style="margin-top: 10px">
                    <div class="left">                    
                        <button class="registerButton" type="submit" [disabled]="
                                confirmPasswordRegister.hasError('minlength') || 
                                confirmPasswordRegister.hasError('required') ||
                                nameUserRegister.hasError('required') ||
                                passwordRegister.hasError('minlength') || 
                                passwordRegister.hasError('required') ||
                                emailRegister.hasError('email') ||
                                emailRegister.hasError('required') ||
                                confirmPassErrorEquals" 
                            mat-raised-button color="primary">
                            Registrarse
                        </button>
                    </div>
                    <div class="left" style="margin-left: 5px">
                        <button (click)="cancelRegisterUser($event)" mat-raised-button>cancelar</button>
                    </div>
                </div>
            </form>
        </mat-card>

    </div>
</div>