<app-loading class="centrar" *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <mat-form-field style='width: 100%'>
    <input matInput placeholder="Nombre de materia" [(ngModel)]="nombreMateria">
  </mat-form-field>
  <mat-form-field style='width: 100%'>
    <mat-select placeholder="Curso" [(ngModel)]="cursoSelectId">
      <mat-option *ngFor="let curso of cursosArray" [value]="curso.idCurso">
        {{curso.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="clickButton()"
    mat-raised-button color="primary"
    matTooltip="Guardar la materia"
    aria-label="Guardar la materia">
    <i class="fas fa-save"></i> Guardar
  </button>
</div>
