.register {
  background: url('~src/assets/images/fondo1.jpg');
  height: 100vh;
}
.mat-form-field {
  width: 95%;
  padding: 2%;
}
.box-register {
  background: #FAFAFA;
  width: 400px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  font-weight: 600;
  margin: auto;
  top: 10%;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75) !important;
}
@media screen and (max-width: 700px){
  .box-register {
    width: 300px;
  }
}
