<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<mat-drawer-container class="app-container">
  <mat-drawer class="menuBar" #drawer mode="push">
      <mat-card class="menuBarOp" >
        <div class="iconBarMenuTop centrar" (click)="routeDashBoard()" style="cursor: pointer;" matTooltip="ir a perfil">
          <div class="iconBarMenuTop_container">
            <div>SingapureApp</div>
            <img src="../../../assets/images/logo.png"/>
          </div>
        </div>
        <div align="center" style="margin-top: 10px" matTooltip="Foto de perfil">
            <img *ngIf="imageEnc === ''" src="../../../assets/images/profile{{ram}}.png" class="circle" alt="Avatar">
            <div id="imageProfile" *ngIf="imageEnc !== ''" [ngStyle]="{'background': 'url(' + imageEnc + ')', 'background-size': heigthImg > widthImg ? '100% auto' : 'auto 100%'}" class="circle"></div>
            <img *ngIf="imageEnc !== ''" style="display: none" [src]="this.imageEnc" (load)="onImageLoad($event)" />
        </div>
        <div class="namePerson">
          {{name}}
        </div>
        <div class="rolPerson">
          {{rolPerson}}
        </div>
      </mat-card>
      <mat-card class="menuBarBottom">
        <div class="menuList" *ngFor="let menuItem of menuItems">
            <div *ngIf="roleActiveMenu(menuItem.roles)" [class]="menuItem.active ? 'munuItem active' : 'munuItem'" (click)="activeBar(menuItem)" >
                <i [class]="menuItem.icon"></i>
                <div class="munuItemText">{{menuItem.name}}</div>
            </div>
        </div>
      </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <div class="menuTop" *ngIf="menuBar">
      <div id='toogleMenu' class="containIcon" (click)="drawer.toggle()"  matTooltip="Abrir menu">
        <i [ngClass]="'fas fa-bars'"></i>
        <div>Menu</div>
      </div>
      <div class="iconMenuTop" (click)="routeDashBoard()" matTooltip="Logo SingapureApp">
        <div>SingapureApp</div>
        <img src="../../../assets/images/logo.png"/>
      </div>
    </div>
    <div [class]="menuBar ? 'containerPrin' : ''">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
