<div [ngClass]="(data.type == 'error') ? 'containerSnackBar error' : (data.type == 'ok') ? 'containerSnackBar ok' : (data.type == 'warn') ? 'containerSnackBar warn' : 'containerSnackBar'">
  <div class="icon">
      <div class="containIcon">
        <i [ngClass]="(data.icon != null) ? data.icon : (data.type == 'error') ? 'fas fa-times' : (data.type == 'ok') ? 'fas fa-check' : (data.type == 'warn') ? 'fas fa-exclamation' : 'fas fa-info-circle'"></i>
      </div>
  </div>
  <div class="text">
    <ng-container  *ngIf="data.type == 'error'">
      <div *ngIf="data.elements.error == null && data.elements.message == null">
        <b>Error 999</b><br>
        {{ data }}
      </div>
      <div *ngIf="data.elements.error == null && data.elements.message != null">
        <b>{{data.elements.title}}</b><br>
        {{data.elements.message}}
      </div>
      <div *ngIf="data.elements.error != null && data.elements.error.trace != null && data.elements.status != 0">
        <b>Error {{ data.elements.error.status }}-999</b><br>
        {{ data.elements.error.message }} - {{ data.elements.error.trace.length > 50 ? data.elements.error.trace.substr(0, 50) + '...' : data.elements.error.trace  }}
      </div>
      <div *ngIf="data.elements.error != null && data.elements.error.trace == null && data.elements.status != 0">
        <b>Error {{ data.elements.error.codeStatus }} - {{ data.elements.error.internalCodeStatus }}</b><br>
        {{ data.elements.error.message }}
      </div>
      <div *ngIf="data.elements.status == 0">
        <b>Error 999:</b><br>Servidor Backend no disponible
      </div>
    </ng-container>
    <div *ngIf="data.type != 'error'">
      <b>{{data.elements.title}}</b><br>
      {{data.elements.message}}
    </div>
  </div>
</div>

