@import '~@angular/material/theming';

@import '../../../../assets/styles/theme.scss';

.containerSnackBar.error{
    background: #e53935EE;
}
.containerSnackBar.ok{
    background: #2dbd3eee;
}
.containerSnackBar.warn{
    background: #ff920bee;
}
.containerSnackBar{
    display: inline-block;
    width: 100%;
    padding: 10px;
    .icon{
        float: left;
        padding: 10px;
        margin-bottom: -4px;
        width: 10%;
        .containIcon{
            background: mat-color($my-theme-primary);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-top: 6px;
            i{
                font-size: 20px;
                color: #FAFAFA;
                margin-top: -1px;
            }
        }
    }
    .text{
      display: inline-block;
      width: 77%;
      color: #FAFAFA;
      text-align: left;
      padding: 20px 10px 0px 10px;
      margin-top: -8px;
      font-size: 13px;
    }
}
