/*styles for login content only*/
#login{
  mat-card {
    width: 300px;
    margin-top: 11vh;
    background: rgba(255,255,255,0.7);
    padding: 20px;
    border-radius: 16px;
    -webkit-box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.85);
    -moz-box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.85);
    box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.85);
  }
  img.icon_app{
    display: inline-block;
    width: 90px;
    margin: 0;    
  }
  mat-form-field{
    width: 80%
  } 
  mat-form-field:not(:first-child){
    margin-top: 10px;
  } 
  .divButton{
    margin-top: 30px;
  }
  .divButton div:not(:first-child){
    margin-left: 10px;      
  }
}