@import '~@angular/material/theming';

@import 'src/styles/my-theme.scss';
.containerSnackBar{
    display: inline-block;
    .icon{
        float: left;
        background: mat-color($accent);
        padding: 10px;
        margin-bottom: -4px;
        .containIcon{
            background: mat-color($primary);
            padding: 10px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            i{
                font-size: 25px;
                color: white;
                margin-top: -4px;
            }
        }
    }
    .text{
        float: left;
        display: inline-block;
        margin-bottom: -4px;
        height: 55px;
        .code{            
            font-weight: 600;            
        }
        div{
            float: left;
            color: #111;
            background: #E7E7E7;
            font-size: 12px;
            text-align: center;
            height: 55px;
            padding: 20px 10px 0px 10px;
        }
    }
}