@import '~@angular/material/theming';
@import 'theme.scss';

body {
  margin: 0;
}
.left{
  float: left;
  text-align: left;
}
.centrar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.mat-snack-bar-container{
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: 5px !important;
  background: none!important;
}
app-snack-bar {
  padding: 0px;
  width: 100%;
  background: none;
  display: inline-block;
}
.divButton {
  display: inline-block;
  button {
    margin: 0px 10px;
  }
}
.icon-box-login img {
  width: 60px;
}
.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.input-login {
  width: 100%;
}
.matErrorSim{
  color: mat-color($my-theme-warn);
  font-size: 12px;
  text-align: left;
  display: inline-block;
  padding-bottom: 20px;
}
.circle{
  border-radius: 50%;
  width: 150px;
  vertical-align: middle;
  height: 150px;
  background-position: 50% 50% !important;
}
.circleSmall{
  border-radius: 50%;
  width: 35px;
  vertical-align: middle;
  height: 35px;
  background-position: 50% 50% !important;
}
.menuBar .mat-drawer-inner-container {
  background: mat-color($my-theme-accent);
}
.menuBarForum .mat-drawer-inner-container {
  background: #FEFEFE;
}
.menuBarForum{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}
.menuBarOp.mat-card{
  padding: 0px !important;
}
.boxInfo {
  background: #EFEFEF;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  border-radius: 8px;
  padding: 0px;
  margin: 5px;
}
.titlePage{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 10px;
}

.containerPage {
  padding: 10px 100px 30px 100px;
  width: 100%;
}
.inputProfileInfo.mat-form-field {
  float: left;
  width: 70% !important;
}

@media (max-width: 800px){
  .containerPage {
    padding: 30px 50px;
  }
}

@media (max-width: 450px){
  .containerPage {
    padding: 30px 10px;
  }
  .inputProfileInfo.mat-form-field {
    width: 100% !important;
  }
  .mat-expansion-panel-body {
    padding: 10px !important;
  }
  .mat-dialog-content{
    padding: 10px !important;
  }
}
.buttonSmall.primary {
  background: mat-color($my-theme-primary);
}
.buttonSmall.accent {
  background: mat-color($my-theme-accent);
}
.buttonSmall {
  cursor: pointer;
  min-width: 75px;
  height: 28px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: #FAFAFA;
  border-radius: 5px;
  font-size: 11px;
  margin: 2px;
}
.buttonSmall.primary:hover {
  background: #1f2b7d;
}
.buttonSmall.accent:hover {
  background: #8e211e;
}
.mat-content i{
  margin: 2px 5px 0px 0px;
}
.mat-expansion-panel-header:hover{
  .mat-expansion-panel-header-title{
    color: #27286d;
    font-size: 16px;
  }
}
.profileImg {
  border: 5px solid mat-color($my-theme-primary);
  border-radius: 50%;
  width: 160px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}
.profileImgSmall {
  border: 3px solid #303f9f;
  border-radius: 50%;
  width: 40px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
  height: 40px;
  float: left;
}
.latMenu{
  border-radius: 0px;
  width: 100%;
  height: 50vh;
}
button:hover{
  font-size: 15px !important;
  opacity: 0.9;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
}

.expandForo{
  .mat-expansion-panel-body {
    padding: 0px;
    margin: 0px;
  }
}
.iconRef.white {
  color: #FAFAFA;
}
.iconRef {
  font-size: 15px;
}
.iconRef:hover {
  cursor: pointer;
  opacity: 0.7;
  font-size: 16px;
}
.optionsChannelResources {
  float: right;
  text-align: rigth;
  width: 20%;
  min-width: 56px;
  height: 22px;
  mat-form-field{
    height: 30px;
    min-width: 56px;
    .mat-form-field-wrapper{
      position: relative;
      top: -8px;
      font-size: 12px;
      mat-label{
        color: #FAFAFA
      }
    }
    .mat-select-value-text{
      color: #FAFAFA
    }
    .mat-form-field-underline{
      background-color: #FAFAFA;
    }
    .mat-select-arrow{
      color: #FAFAFA;
    }
    .mat-form-field-infix{
      width: 100%;
    }
  }
}
