@import '~@angular/material/theming';
@import '../../../../assets/styles/theme.scss';

.profileImg {
  border: 5px solid mat-color($my-theme-primary);
  border-radius: 50%;
  width: 160px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}
.greyUpdate {
  opacity: 0.4;
}
.profileButtons{
  padding: 20px;
  .containerProfileButtons{
    .urlNewPhoto{
      margin: 10px 0px;
      width: 100%;
    }
  }
}
.itemProfileTitle {
  font-weight: 600;
  text-align: center;
}
.itemProfileSeparator {
  height: 1px;
  background: #adadad;
  margin: 10px;
}
.itemProfileContainer {
  .itemContainer {
    .textProfileInfo {
      float: left;
      width: 70%;
      margin-top: 15px;
    }
    .buttonsProfileInfo {
      text-align: right;
      float: right;
    }
    .buttonsProfileContainer{
      width: 30%;
      float: right;
    }
    .itemProfileInfo {
      margin: 10px;
      height: 60px;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

@media (max-width: 550px){
  .itemProfileContainer {
    .buttonsProfileContainer {
      width: 100% !important;
    }
    .textProfileInfo {
      width: 100% !important;
    }
  }
}
