<div class="containerPage row">
  <div class="titlePage">Perfil de usuario {{this.usuarioSend.tipoUsuario.nombre}}</div>
  <div class="profilePhoto col-md-4" *ngIf="!isLoading">
    <div [class]="actPhoto ? 'profileImg centrar greyUpdate' : 'centrar profileImg'">
        <img *ngIf="imageEnc === ''" src="../../../assets/images/profile{{ram}}.png" class="circle" alt="Avatar">
        <div id="imageProfile" *ngIf="imageEnc !== ''" [ngStyle]="{'background': 'url(' + imageEnc + ')', 'background-size': heigthImg > widthImg ? '100% auto' : 'auto 100%'}" class="circle"></div>
        <img *ngIf="imageEnc !== ''" style="display: none" [src]="this.imageEnc" (load)="onImageLoad($event)" />
    </div>
    <div class="profileButtons centrar">
      <button *ngIf="!actPhoto" (click)="actPhoto = true"
        mat-raised-button color="primary">
        <i class="fas fa-edit"></i> Editar
      </button>
      <div class="containerProfileButtons" *ngIf="actPhoto">
          <button  (click)="actPhoto = false; actUser()" style="margin-top: 5px;"
          mat-raised-button color="primary">
          <i class="fas fa-save"></i> Guardar
        </button>
        <button  (click)="actPhoto = false" style="margin-left: 5px; margin-top: 5px;"
          mat-raised-button color="accent">
          <i class="fas fa-times"></i> Cancelar
        </button>
        <mat-form-field class="urlNewPhoto">
          <input matInput placeholder="URL" [(ngModel)]="imageEnc">
        </mat-form-field>
      </div>
    </div>
  </div>
  <app-loading class="centrar" *ngIf="isLoading"></app-loading>
  <div  *ngIf="!isLoading" class="profileInfo col-md-8">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-user"></i> Perfil usuario
          </mat-panel-title>
          <mat-panel-description>
            {{usuarioSend.nombre}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="itemProfileContainer">
          <div class="itemProfileTitle">
          </div>
          <div class="itemProfileSeparator"></div>
          <div class="itemContainer" *ngFor="let itemProfile of jsonProfile">
            <div class="itemProfileInfo">
              <div *ngIf="!itemProfile.activeEdit" class="textProfileInfo">
                  <b>{{itemProfile.nameInput}}:</b> {{itemProfile.value}}
              </div>
              <mat-form-field *ngIf="itemProfile.activeEdit" class="inputProfileInfo">
                <input matInput placeholder="{{itemProfile.nameInput}} nuevo" [(ngModel)]="itemProfile.value">
              </mat-form-field>
              <div class="buttonsProfileInfo buttonsProfileContainer buttonTextAwesome" style="margin-top: 15px" *ngIf="!itemProfile.activeEdit">
                <div class="buttonSmall primary" (click)="clickActivated(itemProfile)">
                  <i class="fas fa-edit"></i> Editar
                </div>
              </div>
              <div style="margin-top: 15px" class="buttonsProfileContainer">
                <div class="buttonsProfileInfo buttonTextAwesome" *ngIf="itemProfile.activeEdit">
                  <div class="buttonSmall primary" (click)="saveUsuario(itemProfile)">
                    <i class="fas fa-save"></i> Guardar
                  </div>
                </div>
                <div class="buttonsProfileInfo buttonTextAwesome" *ngIf="itemProfile.activeEdit">
                  <div class="buttonSmall accent" (click)="cancelActivated(itemProfile)">
                    <i class="fas fa-window-close"></i> Cancelar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="this.usuarioSend.tipoUsuario.nombre === 'Profesor' || this.usuarioSend.tipoUsuario.nombre === 'Alumno'"
      (opened)="this.paginatorFun()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-book-open"></i> Materias asociadas
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>



        <mat-form-field class="maxWidthFilter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>


      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="this.usuarioSend.tipoUsuario.nombre === 'Alumno'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-street-view"></i> Padres asociados
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        Padres asociadaos
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="this.usuarioSend.tipoUsuario.nombre === 'Padre'">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <i class="fas fa-user-graduate"></i> Alumnos asociados
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        Alumnos asociados
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
